<div class="card mb-1 px-5">
  <div class="card-body">
    <div class="d-flex justify-content-between">
     <p class="h4"><%= icon "fa", "user" %> Chef <%= chef.user.username %></p>
      <%= cl_image_tag(
        chef.user.photo.key,
        gravity: "face",
        width: 150,
        height: 150,
        crop: :fill,
        class: "avatar-large bleeding-avatar"
      ) %>
    </div>
    <ul class="list-unstyled">
      <li><%= icon "fa", "utensils" %> <%= @cooking_session.chef.bio %></li>
      <br>
      <%# Chef experience added manually instead of coding from "(chef model)created_at" %>
      <li><%= icon "fa", "star-of-life" %> Osusowake chef for <%= rand(2..4) %> months</li>
      <% if chef.cooking_sessions.count > 1 %>
        <li><%= icon "fa", "star-of-life" %> <%= chef.cooking_sessions.count %> portions served</li>
      <% end %>
    </ul>
  </div>

  <div>

  </div>
</div>
