<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-sm-10 col-lg-5">
      <h1 class="h2 mb-3 text-center"><strong>What are you cooking?</strong></h1>
      <h5 class="text-muted mb-3 text-center"><strong>Let's add a new dish to your Osusowake list!</strong></h5>
      <%# use pundit to prevent non-chefs from making a meal %>
        <%= simple_form_for [@meal], url: user_chef_meal_path do |f| %>
          <%= f.input :name, placeholder: "Name of your dish", label: false %>
          <%= f.input :description, placeholder: "brief description of your dish", as: :text, label: false %>
          <%= f.input :photo, as: :file, label: false %>
          <div class="d-flex justify-content-end">
            <%= f.submit "Add to your cookbook", class: "btn btn-secondary mb-3"  %>
          </div>
        <% end %>
    </div>
  </div>
</div>
