<div class="container mt-3">
  <h5>Let's schedule a cooking session!</h5>
<%# use pundit to prevent non-chefs from making a meal %>
  <%= simple_form_for [@cooking_session], url: user_chef_cooking_session_path do |f| %>
    <%= f.association :meal, collection: current_user.chef.meals, label: "Select a dish you're cooking" %>
    <%= f.input :max_portions, label: "Number of portions:" %>
    <%= f.input :end_at, label: "Will be prepared by" %>
    <%= f.input :end_at, as: :date, html5: true, label: "Return date:", input_html: { "data-controller": "flatpickr" }  %>
    <%= f.submit "Let's OSUSOWAKE!", class: "btn btn-success mb-3" %>
  <% end %>
    <%= link_to "Back to your cookbook", user_chef_path, class: "btn btn-outline-success mt-1" %>
</div>
