<div data-controller="current-location">
  <%= simple_form_for :search, url: cooking_sessions_path, method: :get do |f| %>

    <div class="position-relative">
      <%= f.input :query,
        class: "text-end",
        placeholder: "Search from your location",
        label: false
      %>
      <%= button_tag :button, data: { action: "click->current-location#getPosition" }, class: "position-absolute top-0 bottom-0 end-0 bg-transparent px-2 border-0" do %>
        <%= icon "fas", "location" %>
      <% end %>
    </div>

    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-secondary w-50" title="search">
        Search
      </button>
    </div>
  <% end %>

  <%= form_for(:location, url: current_location_path, data: { current_location_target: "form" }) do |f| %>
    <%= hidden_field :location, :latitude, data: { current_location_target: "latitudeInput" } %>
    <%= hidden_field :location, :longitude, data: { current_location_target: "longitudeInput" } %>
  <% end %>
</div>
