<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1486887396153-fa416526c108?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);">
  <div class="container">
    <h1>OSUSOWAKE</h1>
    <p>Try unique and homemade meals from your neighbours</p>

    <div class="col-6 col-sm-5 col-md-4 col-lg-3">
      <%= render "current_locations/form" %>
    </div>
  </div>
</div>
<div class="banner-explanation py-5 text-white">
  <div class="container py-5">
    <div class="row">
      <div class="col-3 text-center"><%= image_tag "folk-logo-white.png", alt: "osusowake", width: 160, height:  160 %></div>
      <div class="col-9">
        <h3 class="fs-5"><strong>What is OSUSOWAKE?</strong></h3>

        <br>
        <h2 class="fs-5"><em>OSUSOWAKE is Sharing <%= icon "fa", "utensils" %> and Caring</em> <%= icon "fa", "heart" %></h2>
        <p  class="fs-7">The Japanese term Osusowake /おすそわけ/ means sharing something with neighbours.
        Osuso(“hem of kimono”) Wake(“share”) is a traditional communication style to pay it forward and care about neighbours and friends.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="description-container m-4 pt-3 pb-5 text-body-color">

<div class="container py-3">
  <h3 class="text-center h2 mb-5 text-muted"><strong>Top OSUSOWAKE picks</strong></h3>
  <div class="row">
    <% @cooking_sessions.not_from(current_user&.chef).upcoming.sample(4).each do |cooking_session| %>
        <div class="col-3 mb-3">
          <%= render "cooking_sessions/card", cooking_session: cooking_session %>
        </div>
    <% end %>
  </div>
  <div class="d-flex justify-content-end">
    <%= link_to "Browse More", cooking_sessions_path, class: "btn btn-outline-secondary text-end" %>
  </div>
</div>

<div class="container py-3">
  <h3 class="text-center h3 mb-5 text-muted"><strong>LIVE NOW</strong></h3>
  <div class="row">
    <% @cooking_sessions.not_from(current_user&.chef).each do |cooking_session| %>
      <% if cooking_session.streaming %>
        <div class="col-4 mb-3">
          <%= render "user/chefs/streaming_card", cooking_session: cooking_session %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container">
  <h3 class="text-center h2 mb-5 text-muted"><strong>How OSUSOWAKE works</strong></h3>
  <%= render "pages/card" %>
</div>
