<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1486887396153-fa416526c108?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);">
  <div class="container">
    <h1>OSUSOWAKE</h1>
    <p>Try unique and homemade meals from your neighbours</p>

    <div class="col-6 col-sm-5 col-md-4 col-lg-3">
      <%= simple_form_for :search, url: cooking_sessions_path, method: :get do |f| %>
        <%= f.input :query,
          placeholder: "Search from your location",
          label: false
        %>
        <%= submit_tag "Search", class: "btn btn-success w-50" %>
      <% end %>
      <%= form_for(:location, url: current_location_path, data: { controller: "current-location" }) do |f| %>
        <%= hidden_field :location, :latitude, data: { current_location_target: "latitudeInput" } %>
        <%= hidden_field :location, :longitude, data: { current_location_target: "longitudeInput" } %>
        <%= f.submit "My Location", data: { action: "click->current-location#getPosition" } %>
      <% end %>
    </div>
  </div>
</div>
<div class="description-container mb-30">
  <div class="container">
    <p><strong>What is OSUSOWAKE?</strong></p>
    <p><em>OSUSOWAKE is Sharing and Caring</em></p>
    <p>The Japanese term Osusowake /おすそわけ/ means sharing something with neighbours. Osuso(“hem of kimono”) Wake(“share”) is a traditional communication style to pay it forward and care about neighbours and friends.
    </p>
  </div>

  <div class="container">
    <p><strong>How OSUSOWAKE works</strong></p>
    <div class="card-homepage">
      <img src="https://images.unsplash.com/photo-1533777857889-4be7c70b33f7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" />
      <div class="card-homepage-infos">
        <h2>Are you a foodie?</h2>
        <p>
          Do you want to try your neighbour’s meal? That’s where OSUSOWAKE can help you!
          OSUSOWAKE is where amateur chefs near you can share their dishes.
        </p>
        <%= link_to "Let's satisfy your cravings!", cooking_sessions_path, class: "btn btn-outline-success" %>
      </div>
    </div>

    <div class="card-homepage">
      <div class="card-homepage-infos">
        <h2>Are you an amateur chef?</h2>
        <p>
          If you love cooking and want to share some portions with your neighbours, OSUSOWAKE is here for you! It is your opportunity to become a home chef and let people try your food!
        </p>
        <%= link_to "Let’s become a chef!!", new_user_chef_meal_path, class: "btn btn-outline-success" %>
      </div>
      <img src="https://images.unsplash.com/photo-1605522508768-f8697d6e8e24?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80" />
    </div>
  </div>
</div>
