<div class="container">
  <h2>Thank you for your order, <%= @reservation.user.username %>!</h2>
  <p>Your order number is <strong><%= @reservation.id  %></strong></p>
  <br>
  <h4>Order Summary:</h4>
  <div class="card mb-3">
    <%= cl_image_tag @reservation.cooking_session.meal.photo.key, class: "card-img-top img-fluid", height:1000, width: 2000, crop: :fill %>
    <div class="card-body">
      <h5 class="card-title"><%= @cooking_session.meal_name %></h5>
      <p class="card-text">Prepared by <%= @cooking_session.chef_name %></p>
      <p class="card-text">Please pick up in <%= distance_of_time_in_words_to_now(@cooking_session.end_at) %></p>
    </div>
  </div>
  <%= link_to "Keep browsing", cooking_sessions_path, class: "btn btn-outline-success mb-2" %>
</div>
