<div class="container">
  <div class="card col-5 col-sm-10 col-lg-5 bg-white m-3 p-3">
    <div class="card-text">
    <h5>Thank you for your order, <%= @reservation.user.username %>!</h5>
    <p>You will get Osusowake of <%= @cooking_session.meal_name %> from  <%= @cooking_session.chef_name %></p>
      <%= cl_image_tag(
        current_user.photo.key,
        gravity: "face",
        width: 150,
        height: 150,
        crop: :fill,
        class: "avatar-large"
      ) %>
      <%= image_tag "folk-logo2.png", alt: "osusowake", width:20, height: 20 %>
        <%= cl_image_tag(
          @cooking_session.meal.photo.key,
          gravity: "face",
          width: 200,
          height: 200,
          crop: :fill,
          class: "avatar-food"
        ) %>
      <%= image_tag "folk-logo2.png", alt: "osusowake", width:20, height: 20 %>
      <%= cl_image_tag(
        @cooking_session.chef.user.photo.key,
        gravity: "face",
        width: 150,
        height: 150,
        crop: :fill,
        class: "avatar-large"
      ) %>
        <p class="card-text">Your meal will be ready in about <%= distance_of_time_in_words_to_now(@cooking_session.end_at) %></p>
        <p class="card-text"><%= @cooking_session.chef.user.username %> will be waiting for you at <%= @cooking_session.address %></p>

        <div style="height: 200px;"
          class="mb-1 rounded"
          data-controller="mapbox"
          data-mapbox-markers-value="<%= @markers.to_json %>"
          data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
    </div>
  </div>
  <div class="m-1 px-3">
    <%= link_to "Keep browsing", cooking_sessions_path, class: "btn btn-outline-success mb-2" %>
  </div>
</div>
