<%= link_to cooking_session, class: "card text-decoration-none text-black h-100 shadow-sm" do %>
  <div class="position-relative">
    <%= cl_image_tag cooking_session.meal.photo.key, class: "card-img-top img-fluid", height:500, width:720, crop: :fill %>
    <div class="card-image-info">
      <h5 class="card-title mb-0"><%= cooking_session.meal.name %></h5>
      <p class="card-text mb-0 small">
        <span class="opacity-50">Ready in</span>
        <%= distance_of_time_in_words_to_now(cooking_session.end_at) %>
      </p>
      <% if session[:search_result].present? %>
        <p class="card-text">
          <%= cooking_session.distance_to(session[:search_result]).round(2) %><span class="small text-muted">km away</span>
        </p>
      <% end %>
    </div>
    <%= cl_image_tag(
      cooking_session.meal.chef.user.photo.key,
      gravity: "face",
      width: 100,
      height: 100,
      crop: :fill,
      class: "card-image-avatar"
    ) %>
  </div>
<% end %>
