<div class="container mt-3 w-50">
  <%= simple_form_for :search, url: cooking_sessions_path, method: :get do |f| %>
    <%= f.input :query,
      label: "Location:",
      input_html: { value: last_location.address }
    %>
    <%= f.input :max_distance,
      label: "Meals within:",
      collection: { "5km" => 5, "10km" => 10 },
      as: :radio_buttons
    %>
    <%= submit_tag "Refresh your search", class: "btn btn-flat mb-3" %>
  <% end %>
</div>
<hr>
<div class="container py-3">
  <h1 class="text-center mb-3">Ready Soon</h1>
  <div class="row">
    <% @cooking_sessions.upcoming.limit(6).each do |cooking_session| %>
      <div class="col-4 mb-3">
        <%= render "cooking_sessions/card", cooking_session: cooking_session %>
      </div>
    <% end %>
  </div>

  <hr>

  <h1 class="text-center mb-3">Check out these meals your neighbors are cooking!</h1>
  <div class="row">
    <% @cooking_sessions.each do |cooking_session| %>
      <div class="col-4  mb-3">

        <%= render "cooking_sessions/card", cooking_session: cooking_session %>

      </div>
    <% end %>
  </div>
</div>
