<div class="container py-3">
  <h1 class="text-center mb-3">Ready Soon</h1>
  <div class="row">
    <% @cooking_sessions.each do |cooking_session| %>
      <div class="col-4">
        <div class="card mb-3">
          <%# <img class="card-img-top" src="..." alt="Meal"> %>
          <div class="card-body">
            <h5 class="card-title"><%= cooking_session.meal.photo.key %></h5>
            <h5 class="card-title"><%= cooking_session.meal.name %></h5>
            <p class="card-text"><%= cooking_session.chef_name %></p>
            <p class="card-text"><%= cooking_session.max_portions %></p>
            <p class="card-text">Ready in <%= distance_of_time_in_words_to_now(cooking_session.end_at) %></p>
            <% if @search_result.present? %>
              <p class="card-text"><%= cooking_session.distance_to(@search_result).round(2) %>km away</p>
            <% end  %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
